<div _id="af-jaaf1se1" _type="div">
  <script class="_state" type="application/json">
    {
      "units": "%",
      "highlighted": false,
      "keepAspectRatio": false,
      "selectedBorders": {
        "left": false,
        "top": false,
        "right": false,
        "bottom": true
      },
      "selectedCorners": {
        "topLeft": true,
        "topRight": true,
        "bottomRight": true,
        "bottomLeft": true
      },
      "bordersStyle": {
        "width": 2,
        "effect": "solid",
        "color": {
          "r": 190,
          "g": 190,
          "b": 190,
          "a": 1
        }
      },
      "shadow": {
        "outer": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "inner": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        }
      },
      "relationship": {
        "reference": "",
        "relatives": [],
        "selectionMode": "reference"
      },
      "cornersStyle": {
        "radius": 0,
        "round": false
      }
    }
  </script>
  <div _id="af-jaaf4zul" _type="div" _ref="rm-btn">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 0,
          "effect": "solid",
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 0,
          "round": true
        }
      }
    </script>
    <div _id="af-jaaf7abp" _type="text">
      <script class="_state" type="application/json">
        {
          "units": "%",
          "highlighted": false,
          "keepAspectRatio": false,
          "selectedBorders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
          },
          "selectedCorners": {
            "topLeft": true,
            "topRight": true,
            "bottomRight": true,
            "bottomLeft": true
          },
          "bordersStyle": {
            "width": 0,
            "effect": "solid",
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "shadow": {
            "outer": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "inner": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "text": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            }
          },
          "relationship": {
            "reference": "",
            "relatives": [],
            "selectionMode": "reference"
          },
          "cornersStyle": {
            "radius": 0,
            "round": false
          }
        }
      </script>
      <span class="_container">
        <div>
          <div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
          </div>
        </div>
      </span>
    </div>
    <div _id="af-jaaf8jxd" _type="text">
      <script class="_state" type="application/json">
        {
          "units": "%",
          "highlighted": false,
          "keepAspectRatio": false,
          "selectedBorders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
          },
          "selectedCorners": {
            "topLeft": true,
            "topRight": true,
            "bottomRight": true,
            "bottomLeft": true
          },
          "bordersStyle": {
            "width": 0,
            "effect": "solid",
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "shadow": {
            "outer": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "inner": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "text": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            }
          },
          "relationship": {
            "reference": "",
            "relatives": [],
            "selectionMode": "reference"
          },
          "cornersStyle": {
            "radius": 0,
            "round": false
          }
        }
      </script>
      <span class="_container">
        <div>
          ✖
        </div>
      </span>
    </div>
  </div>
  <div _id="af-jaafbgbx" _type="div" _ref="check-box">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 5,
          "effect": "solid",
          "color": {
            "r": 50,
            "g": 165,
            "b": 255,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 7,
          "round": false
        }
      }
    </script>
    <div _id="af-jaaffxi9" _type="text" _ref="check">
      <script class="_state" type="application/json">
        {
          "units": "%",
          "highlighted": false,
          "keepAspectRatio": false,
          "selectedBorders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
          },
          "selectedCorners": {
            "topLeft": true,
            "topRight": true,
            "bottomRight": true,
            "bottomLeft": true
          },
          "bordersStyle": {
            "width": 0,
            "effect": "solid",
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "shadow": {
            "outer": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "inner": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "text": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            }
          },
          "relationship": {
            "reference": "",
            "relatives": [],
            "selectionMode": "reference"
          },
          "cornersStyle": {
            "radius": 0,
            "round": false
          }
        }
      </script>
      <span class="_container">
        <div>
          ✔
        </div>
      </span>
    </div>
  </div>
  <div _id="af-jaafoug4" _type="text" _ref="todo">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 0,
          "effect": "solid",
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "text": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 0,
          "round": false
        }
      }
    </script>
    <span class="_container">
      <div>
        TODO
      </div>
    </span>
  </div>
</div>
