<div _id="af-jaafuiv3" _type="div">
  <script class="_state" type="application/json">
    {
      "units": "%",
      "highlighted": false,
      "keepAspectRatio": false,
      "selectedBorders": {
        "left": true,
        "top": true,
        "right": true,
        "bottom": true
      },
      "selectedCorners": {
        "topLeft": true,
        "topRight": true,
        "bottomRight": true,
        "bottomLeft": true
      },
      "bordersStyle": {
        "width": 0,
        "effect": "solid",
        "color": {
          "r": 0,
          "g": 0,
          "b": 0,
          "a": 1
        }
      },
      "shadow": {
        "outer": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "inner": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        }
      },
      "relationship": {
        "reference": "",
        "relatives": [
          "af-jaagmacc"
        ],
        "selectionMode": "reference"
      },
      "cornersStyle": {
        "radius": 0,
        "round": false
      }
    }
  </script>
  <div _id="af-jaafzt2a" _type="text">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 0,
          "effect": "solid",
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "text": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 0,
          "round": false
        }
      }
    </script>
    <span class="_container">
      <div>
        New&nbsp;todo
      </div>
    </span>
  </div>
  <div _id="af-jaag1iyx" _type="text" _ref="add-btn">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": true,
          "top": true,
          "right": true,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 0,
          "effect": "solid",
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "text": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 0,
          "round": false
        }
      }
    </script>
    <span class="_container">
      <div>
        ➕
      </div>
    </span>
  </div>
  <div _id="af-jaag47lh" _type="input" _ref="todo-input">
    <script class="_state" type="application/json">
      {
        "units": "%",
        "highlighted": false,
        "keepAspectRatio": false,
        "selectedBorders": {
          "left": false,
          "top": false,
          "right": false,
          "bottom": true
        },
        "selectedCorners": {
          "topLeft": true,
          "topRight": true,
          "bottomRight": true,
          "bottomLeft": true
        },
        "bordersStyle": {
          "width": 2,
          "effect": "solid",
          "color": {
            "r": 255,
            "g": 255,
            "b": 255,
            "a": 1
          }
        },
        "shadow": {
          "outer": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "inner": {
            "h": 0,
            "v": 0,
            "blur": 0,
            "spread": 0,
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          }
        },
        "relationship": {
          "reference": "",
          "relatives": [],
          "selectionMode": "reference"
        },
        "cornersStyle": {
          "radius": 0,
          "round": false
        },
        "target": "placeholder"
      }
    </script>
    <div _id="af-jaag47lx" _type="text" class="_input-delegator">
      <script class="_state" type="application/json">
        {
          "units": "%",
          "highlighted": false,
          "keepAspectRatio": false,
          "selectedBorders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
          },
          "selectedCorners": {
            "topLeft": true,
            "topRight": true,
            "bottomRight": true,
            "bottomLeft": true
          },
          "bordersStyle": {
            "width": 0,
            "effect": "solid",
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "shadow": {
            "outer": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "inner": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "text": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            }
          },
          "relationship": {
            "reference": "",
            "relatives": [],
            "selectionMode": "reference"
          },
          "cornersStyle": {
            "radius": 0,
            "round": false
          }
        }
      </script>
      <span class="_container">
        <div>
          <div>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
          </div>
        </div>
      </span>
    </div>
    <div _id="af-jaag47m8" _type="text" class="_placeholder-delegator">
      <script class="_state" type="application/json">
        {
          "units": "%",
          "highlighted": false,
          "keepAspectRatio": false,
          "selectedBorders": {
            "left": true,
            "top": true,
            "right": true,
            "bottom": true
          },
          "selectedCorners": {
            "topLeft": true,
            "topRight": true,
            "bottomRight": true,
            "bottomLeft": true
          },
          "bordersStyle": {
            "width": 0,
            "effect": "solid",
            "color": {
              "r": 0,
              "g": 0,
              "b": 0,
              "a": 1
            }
          },
          "shadow": {
            "outer": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "inner": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            },
            "text": {
              "h": 0,
              "v": 0,
              "blur": 0,
              "spread": 0,
              "color": {
                "r": 0,
                "g": 0,
                "b": 0,
                "a": 1
              }
            }
          },
          "relationship": {
            "reference": "",
            "relatives": [],
            "selectionMode": "reference"
          },
          "cornersStyle": {
            "radius": 0,
            "round": false
          }
        }
      </script>
      <span class="_container">
        <div>
          Type&nbsp;here...
        </div>
      </span>
    </div>
  </div>
</div>
<div _id="af-jaagmacc" _type="ul" _ref="todos">
  <script class="_state" type="application/json">
    {
      "units": "%",
      "highlighted": false,
      "keepAspectRatio": false,
      "selectedBorders": {
        "left": true,
        "top": true,
        "right": true,
        "bottom": true
      },
      "selectedCorners": {
        "topLeft": true,
        "topRight": true,
        "bottomRight": true,
        "bottomLeft": true
      },
      "bordersStyle": {
        "width": 0,
        "effect": "solid",
        "color": {
          "r": 0,
          "g": 0,
          "b": 0,
          "a": 1
        }
      },
      "shadow": {
        "outer": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        },
        "inner": {
          "h": 0,
          "v": 0,
          "blur": 0,
          "spread": 0,
          "color": {
            "r": 0,
            "g": 0,
            "b": 0,
            "a": 1
          }
        }
      },
      "component": "todo-item",
      "dataset": [
        {
          "todo": "foo"
        },
        {
          "todo": "bar"
        },
        {
          "todo": "baz"
        }
      ],
      "itemSize": 70,
      "length": 3,
      "orientation": "vertical",
      "justification": "start",
      "margin": {
        "horizontal": 0,
        "vertical": 0
      },
      "relationship": {
        "reference": "af-jaafuiv3",
        "relatives": [],
        "selectionMode": "reference"
      },
      "cornersStyle": {
        "radius": 0,
        "round": false
      }
    }
  </script>
  <style class="_item-style">
    ._items-container:first-of-type > ._item { position: relative; height: 70px; width: 100%; margin: 0px; display: block; }
  </style>
  <ul class="_items-container">
    <af-todo-item class="_item"></af-todo-item>
    <af-todo-item class="_item"></af-todo-item>
    <af-todo-item class="_item"></af-todo-item>
  </ul>
</div>
